{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'sheets/sheetDetail.css' %}">
{% endblock %}

{% block title %}{{ sheet.name }}{% endblock %}

{% block content %}
    <h1>{{ sheet.name }} {% if sheet.hidden == True %}(HIDDEN){% endif %}</h1>
    <div id="main-content">
        <div>
            <ul id="sheetNav">
                <li><button onclick="page('character')">Character</button></li>
                <li><button onclick="page('fighting')">Fighting</button></li>
                <li><button onclick="page('equipment')">Equipment</button></li>
                <li><button onclick="page('spellcasting')">Spellcasting</button></li>
                <li><button onclick="page('personality')">Personality</button></li>
            </ul>

            {% if sheet.author == request.user %}
                <div id="sheet-editor" class="side-editor" style="display: none;">
                    <img class="xIcon" src="{% static 'sheets/x.png' %}" onclick="document.getElementById('sheet-editor').style = 'display: none;'">
                    <h2 id="sheet-editor-value"></h2>
                    <input id="sheet-editor-newValue" />
                    <input type="submit" onclick="edit()" />
                    <p id="sheet-editor-description"></p>
                </div>

                <div id="equipment-editor" class="side-editor" style="display: none;">
                    <img class="xIcon" src="{% static 'sheets/x.png' %}" onclick="document.getElementById('equipment-editor').style = 'display: none;'">
                    <div>
                        <input id="equipment-editor-name" />
                        <input id="equipment-editor-amount" />
                        <input id="equipment-editor-weight" />
                        <input id="equipment-editor-cost" />
                    </div>
                    <input type="submit" onclick="editEquipment()" />
                    <input type="button" class="delete" value="Delete" onclick="removeEquipment()" />
                </div>
            {% endif %}

            <div id="character" style="display: block">
                <div class="column">
                    <div class="info">
                        <h2><b>Class: </b><span>{{ sheet.Class }}</span></h2>
                        <h2><b>Background: </b><span>{{ sheet.background }}</span></h2>
                        <h2><b>Race: </b><span>{{ sheet.race }}</span></h2>
                        <h2 class="getInfo" onclick="get(sheetEditor, 'xp')">
                            <b>XP: </b><span>{{ sheet.xp }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </h2>
                        <h2 class="getInfo" onclick="get(sheetEditor, 'level')">
                            <b>Level: </b><span>{{ sheet.level }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </h2>
                        <h2><b>Hit Dice: </b><span>{{ sheet.hitDice }}</span></h2>
                    </div>
                    <div class="money">
                        <h2 class="getInfo" onclick="get(sheetEditor, 'copper')">
                            <b>Copper: </b><span>{{ sheet.copper }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </h2>
                        <h2 class="getInfo" onclick="get(sheetEditor, 'silver')">
                            <b>Silver: </b><span>{{ sheet.silver }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </h2>
                        <h2 class="getInfo" onclick="get(sheetEditor, 'gold')">
                            <b>Gold: </b><span>{{ sheet.gold }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </h2>
                        <h2 class="getInfo" onclick="get(sheetEditor, 'platinum')">
                            <b>Platinum: </b><span>{{ sheet.platinum }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </h2>
                    </div>
                    <div class="stats">
                        <h2><b>Strength:</b> {{ sheet.strength }} + {{ sheet.strengthMod }}</h2>
                        <h2><b>Dexterity:</b> {{ sheet.dexterity }} + {{ sheet.dexterityMod }}</h2>
                        <h2><b>Constitution:</b> {{ sheet.constitution }} + {{ sheet.constitutionMod }}</h2>
                        <h2><b>Intelligence:</b> {{ sheet.intelligence }} + {{ sheet.intelligenceMod }}</h2>
                        <h2><b>Wisdom:</b> {{ sheet.wisdom }} + {{ sheet.wisdomMod }}</h2>
                        <h2><b>Charisma:</b> {{ sheet.charisma }} + {{ sheet.charismaMod }}</h2>
                        <h2><b>Proficiency:</b> {{ sheet.proficiency }}</h2>
                    </div>
                </div>
                <div class="column">
                    <div class="skills">
                        <div class="column">
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.acrobatics %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.acrobatics %}{{sheet.dexterityMod|add:sheet.proficiency}}{% else %}{{ sheet.dexterityMod }}{%endif%}</p>
                                <p>Acrobatics</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.animalHandling %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.animalHandling %}{{sheet.wisdomMod|add:sheet.proficiency}}{% else %}{{ sheet.wisdomMod }}{%endif%}</p>
                                <p>Aimal Handling</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.arcana %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.arcana %}{{sheet.intelligenceMod|add:sheet.proficiency}}{% else %}{{ sheet.intelligenceMod }}{%endif%}</p>
                                <p>Arcana</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.athletics %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.athletics %}{{sheet.strengthMod|add:sheet.proficiency}}{% else %}{{ sheet.strengthMod }}{%endif%}</p>
                                <p>Athletics</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.deception %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.deception %}{{sheet.charismaMod|add:sheet.proficiency}}{% else %}{{ sheet.charismaMod }}{%endif%}</p>
                                <p>Deception</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.history %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.history %}{{sheet.intelligenceMod|add:sheet.proficiency}}{% else %}{{ sheet.intelligenceMod }}{%endif%}</p>
                                <p>History</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.insight %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.insight %}{{sheet.wisdomMod|add:sheet.proficiency}}{% else %}{{ sheet.wisdomMod }}{%endif%}
                                </p>
                                <p>Insight</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.intimidation %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.intimidation %}{{sheet.charismaMod|add:sheet.proficiency}}{% else %}{{ sheet.charismaMod }}{%endif%}</p>
                                <p>Intimidation</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.investigation %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.investigation %}{{sheet.intelligenceMod|add:sheet.proficiency}}{% else %}{{ sheet.intelligenceMod }}{%endif%}
                                </p>
                                <p>Investigation</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.medicine %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.medicine %}{{sheet.wisdomMod|add:sheet.proficiency}}{% else %}{{ sheet.wisdomMod }}{%endif%}
                                </p>
                                <p>Medicine</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.nature %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.nature %}{{sheet.intelligenceMod|add:sheet.proficiency}}{% else %}{{ sheet.intelligenceMod }}{%endif%}
                                </p>
                                <p>Nature</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.perception %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.perception %}{{sheet.wisdomMod|add:sheet.proficiency}}{% else %}{{ sheet.wisdomMod }}{%endif%}
                                </p>
                                <p>Perception</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.performance %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.performance %}{{sheet.charismaMod|add:sheet.proficiency}}{% else %}{{ sheet.charismaMod }}{%endif%}</p>
                                <p>Performance</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.persuasion %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.persuasion %}{{sheet.charismaMod|add:sheet.proficiency}}{% else %}{{ sheet.charismaMod }}{%endif%}</p>
                                <p>Persuasion</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.religion %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.religion %}{{sheet.intelligenceMod|add:sheet.proficiency}}{% else %}{{ sheet.intelligenceMod }}{%endif%}
                                </p>
                                <p>Religion</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.sleightOfHand %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.sleightOfHand %}{{sheet.dexterityMod|add:sheet.proficiency}}{% else %}{{ sheet.dexterityMod }}{%endif%}
                                </p>
                                <p>Sleight of Hand</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.stealth %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.stealth %}{{sheet.dexterityMod|add:sheet.proficiency}}{% else %}{{ sheet.dexterityMod }}{%endif%}
                                </p>
                                <p>Stealth</p>
                            </div>
                            <div class="skill">
                                <p><input type="checkbox" {% if sheet.survival %} checked {% endif %} readonly></p>
                                <p>+{% if sheet.survival %}{{sheet.wisdomMod|add:sheet.proficiency}}{% else %}{{ sheet.wisdomMod }}{%endif%}
                                </p>
                                <p>Survival</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if sheet.author == request.user %}
                    <div class="button">
                        <h2><a href="{% url 'sheets:edit' id=id %}">Edit</a></h2>
                    </div>
                {% endif %}
            </div>
            <div id="fighting" style="display: none">
                <div class="column">
                    <h2><b>AC:</b> {{ sheet.armorClass }}</h2>
                    <h2><b>Initiative:</b> {{ sheet.initiative }}</h2>
                    <h2><b>Speed:</b> {{ sheet.speed }}</h2>
                    <h2><b>HP:</b> 
                        <span class="getInfo" onclick="get(sheetEditor, 'hitPoints')"><b></b>
                            <span>{{ sheet.hitPoints }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </span> 
                        / 
                        <span class="getInfo" onclick="get(sheetEditor, 'maxHitPoints')"><b></b>
                            <span>{{ sheet.maxHitPoints }}</span> 
                            {% if sheet.author == request.user %}<img class="editIcon" src="{% static 'sheets/pen.png' %}">{% endif %}
                        </span>
                    </h2>
                    {% if sheet.sStrength %}
                    <h2><b>Strength Saving Throw</b></h2>
                    {% endif %}
                    {% if sheet.sDexterity %}
                    <h2><b>Dexterity Saving Throw</b></h2>
                    {% endif %}
                    {% if sheet.sConstitution %}
                    <h2><b>Constitution Saving Throw</b></h2>
                    {% endif %}
                    {% if sheet.sIntelligence %}
                    <h2><b>Intelligence Saving Throw</b></h2>
                    {% endif %}
                    {% if sheet.sWisdom %}
                    <h2><b>Wisdom Saving Throw</b></h2>
                    {% endif %}
                    {% if sheet.sCharisma %}
                    <h2><b>Charisma Saving Throw</b></h2>
                    {% endif %}
                </div>
                <div class="column">
                    <div class="column">
                        {% for item in equipment %}
                            {% if item.Type == 'weapon' and item.equipped %}
                                <div class="item">
                                    <p><a href="{{ item.reference }}">{{ item.name }}</a> {{ item.amount }}</p>
                                {% if user.is_authenticated %}
                                    {% if sheet.author == request.user %}
                                        <p><a href="{% url 'sheets:editItem' item.id id %}">Edit</a></p>
                                        <p><a href="{% url 'sheets:removeItem' item.id id %}">Remove</a></p>
                                    {% endif %}
                                {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column">
                    {% for spell in spells %}
                        {% if spell.Type == 'offensive' %}
                            <div class="spell">
                                <p><a href="{{ spell.reference }}">{{ spell.name }}</a></p>
                                <p>{{ spell.get_level_display }}</p>
                                {% if user.is_authenticated %}
                                    {% if sheet.author == request.user %}
                                        <p><a href="{% url 'sheets:editSpell' spell.id id %}">Edit</a></p>
                                        <p><a href="{% url 'sheets:removeSpell' spell.id id %}">Remove</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="equipment" style="display: none">
                {% for item in equipment %}
                    <div class="item" id="item{{ item.id }}" onclick="getEquipment('{{ item.id }}', equipmentEditor)">
                        <p><a href="{{ item.reference }}">{{ item.name }}</a></p>
                        <p>{{ item.amount }}</p>
                        <p>{{ item.weight }}</p>
                        <p>{{ item.cost }}</p>
                        {% if sheet.author == request.user %}
                            <img class="editIcon" src="{% static 'sheets/pen.png' %}"> 
                            <!-- <p><a href="{% url 'sheets:removeItem' item.id id %}">Remove</a></p> -->
                        {% endif %}
                    </div>
                {% endfor %}
                {% if user.is_authenticated %}
                    {% if sheet.author == request.user %}
                        <p><a href="{% url 'sheets:addItem' id %}">Add</a></p>
                    {% endif %}
                {% endif %}
            </div>
            <div id="spellcasting" style="display: none">
                {% for spell in spells %}
                    {% if spell.Type == 'normal' %}
                        <div class="spell">
                            <p><a href="{{ spell.reference }}">{{ spell.name }}</a></p>
                            <p>{{ spell.get_level_display }}</p>
                            {% if user.is_authenticated %}
                                {% if sheet.author == request.user %}
                                    <p><a href="{% url 'sheets:editSpell' spell.id id %}">Edit</a></p>
                                    <p><a href="{% url 'sheets:removeSpell' spell.id id %}">Remove</a></p>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                    {% if sheet.author == request.user %}
                        <p><a href="{% url 'sheets:addSpell' id %}">Add</a></p>
                    {% endif %}
                {% endif %}
            </div>
            <div id="personality" style="display: none">
                <p><b>Personality Traits: </b>{{ sheet.personalityTraits }}</p>
                <p><b>Ideals: </b>{{ sheet.ideals }}</p>
                <p><b>Bonds: </b>{{ sheet.bonds }}</p>
                <p><b>Flaws: </b>{{ sheet.flaws }}</p>
                <p><b>Features & Traits: </b>{{ sheet.featuresTraits }}</p>
                <p><b>Other Proficiences: </b>{{ sheet.otherProficiencies }}</p>
                <p><b>Languages: </b>{{ sheet.languages }}</p>
            </div>
        </div>
    </div>

    <!-- Sheet AJAX -->
    <script>
        var data = null;
        get(function a() { });

        var descriptions = null
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                 descriptions = JSON.parse(this.responseText);
            }
        }
        xhr.open("GET", "{% static 'sheets/valueDetails.json' %}", true);
        xhr.send();

        function sheetEditor(content) {
            document.getElementById('sheet-editor-description').innerHTML = descriptions[content];
            document.getElementById('sheet-editor').style = "display: block;";
            document.getElementById('sheet-editor-value').innerHTML = content;
            document.getElementById('sheet-editor-newValue').value = data['sheet'][0]['fields'][content];
        }

        function view() {
            for(let i = 0; i < document.getElementsByClassName('getInfo').length; i++) {
                var field = document.getElementsByClassName('getInfo')[i].getAttribute('onclick')
                field = field.split("'")[1];
                document.getElementsByClassName('getInfo')[i].children[1].innerHTML = data['sheet'][0]['fields'][field];
            }
        }

        function edit() {
            var value = document.getElementById('sheet-editor-value').innerHTML;
            var newValue = document.getElementById('sheet-editor-newValue').value;
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    get(view);
                }
            }
            xhr.open("POST", "/sheets/" + '{{ id }}' + "/post/", true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.send("value=" + value + "&newValue=" + newValue);
        }

        function get(callback, params) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(this.responseText);
                    if (params == undefined) {
                        callback();
                    }
                    else {
                        callback(params);
                    }
                }
            };
            xhr.open("GET", "/sheets/" + '{{ id }}' + "/get/", true);
            xhr.send();
        }
    </script>

    <!-- Items AJAX -->
    <script>
        var item = null;

        function getEquipment(id, callback, params) {
            var itemRequest = new XMLHttpRequest();
            itemRequest.open("GET", "/sheets/items/" + id + "/get/", true);
            itemRequest.send();
            itemRequest.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    data = JSON.parse(this.responseText);
                    item = data['item'][0];
                    callback(params);
                }
            }
        }

        function editEquipment() {
            var name = document.getElementById('equipment-editor-name').value;
            var amount = document.getElementById('equipment-editor-amount').value;
            var weight = document.getElementById('equipment-editor-weight').value;
            var cost = document.getElementById('equipment-editor-cost').value;
            var itemEditRequest = new XMLHttpRequest();
            itemEditRequest.open("POST", "/sheets/items/" + item['pk'] + '/post/', true);
            itemEditRequest.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            itemEditRequest.send('name=' + name + '&amount=' + amount + '&weight=' + weight + '&cost=' + cost);
            itemEditRequest.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    getEquipment(item['pk'], updateEquipment);
                }
            }
        }

        function removeEquipment() {
            var itemRemoveRequest = new XMLHttpRequest();
            itemRemoveRequest.open('GET', '/sheets/items/' + item['pk'] + '/remove', true);
            itemRemoveRequest.send();
            itemRemoveRequest.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('item' + item['pk']).remove();
                    document.getElementById('equipment-editor').style = 'display: none;';
                }
            }
        }

        function updateEquipment() {
            var itemElements = document.getElementById('item' + item['pk']).childNodes;
            console.log(itemElements);
            console.log(itemElements[1].childNodes);
            itemElements[1].childNodes[0].innerHTML = item['fields']['name'];
            itemElements[3].innerHTML = item['fields']['amount'];
            itemElements[5].innerHTML = item['fields']['weight'];
            itemElements[7].innerHTML = item['fields']['cost'];
        }

        function equipmentEditor() {
            document.getElementById('equipment-editor').style = 'display: block;';
            document.getElementById('equipment-editor-name').value = item['fields']['name'];
            document.getElementById('equipment-editor-amount').value = item['fields']['amount'];
            document.getElementById('equipment-editor-weight').value = item['fields']['weight'];
            document.getElementById('equipment-editor-cost').value = item['fields']['cost'];
        }
    </script>
    <script src="{% static 'sheets/sheetNav.js' %}"></script>

{% endblock %}