{% extends 'base.html' %}

{% block title %}{{ sheet.name }}{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        {% if sheet.author == request.user %}
        <li><a href="{% url 'sheets:edit' slug %}">Edit Sheet</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="stat-main"><span class="inverted-popout">{{ sheet.name }}</span></h1>
    <div class="stat">
        <div class="stat-section popout">
            <h1>Info</h1>
            <h2><b>Class: </b>{{ sheet.Class }}</h2>
            <h2><b>Background: </b>{{ sheet.background }}</h2>
            <h2><b>Race: </b>{{ sheet.race }}</h2>
            <h2><b>XP: </b>{{ sheet.xp }}</h3>
            <h2><b>Level: </b>{{ sheet.level }}</h3>
        </div>
        <div class="stat-section popout">
            <h1>Stats</h1>
            <p><b>Strength:</b> {{ sheet.strength }} + {{ sheet.strengthMod }}</p>
            <p><b>Dexterity:</b> {{ sheet.dexterity }} + {{ sheet.dexterityMod }}</p>
            <p><b>Constitution:</b> {{ sheet.constitution }} + {{ sheet.constitutionMod }}</p>
            <p><b>Intelligence:</b> {{ sheet.intelligence }} + {{ sheet.intelligenceMod }}</p>
            <p><b>Wisdom:</b> {{ sheet.wisdom }} + {{ sheet.wisdomMod }}</p>
            <p><b>Charisma:</b> {{ sheet.charisma }} + {{ sheet.charismaMod }}</p>
        </div>
        <div class="stat-section popout">
            <h1>Skills</h1>
            {% for skill in skills %}
                {% if skill.sht == sheet %}
                    <div class="skill">
                        <p class="skill-name"><b>{{ skill.get_name_display }}</b> + {{ skill.mod }}</p>
                        {% if user.is_authenticated %}
                            {% if sheet.author == request.user %}
                                <p class="skill-remove"><a href="{% url 'sheets:removeSkill' skill.name slug %}">Remove</a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
                    {% if user.is_authenticated %}
                        {% if sheet.author == request.user %}
                            <p style="text-align: center;"><a href="{% url 'sheets:addSkill' slug %}">Add</a></p>
                        {% endif %}
                    {% endif %}
        </div>
        <div class="stat-section popout">
            <h1>Saving</h1>
            <h1>Throws</h1>
            {% if sheet.sStrength %}
            <p><b>Strength</b></p>
            {% endif %}
            {% if sheet.sDexterity %}
            <p><b>Dexterity</b></p>
            {% endif %}
            {% if sheet.sConstitution %}
            <p><b>Constitution</b></p>
            {% endif %}
            {% if sheet.sIntelligence %}
            <p><b>Intelligence</b></p>
            {% endif %}
            {% if sheet.sWisdom %}
            <p><b>Wisdom</b></p>
            {% endif %}
            {% if sheet.sCharisma %}
            <p><b>Charisma</b></p>
            {% endif %}
        </div>
        <div class="stat-section popout">
            <h1>Money</h1>
            <p>{{ sheet.copper }} <b>copper</b></p>
            <p>{{ sheet.silver }} <b>silver</b></p>
            <p>{{ sheet.gold }} <b>gold</b></p>
            <p>{{ sheet.platinum }} <b>platinum</b></p>
        </div>
        <div class="stat-section popout">
            <h1>Equipment</h1>
            {% for item in equipment %}
                <div class="item">
                    <p class="item-name">{{ item.amount }} {{ item.name }}</p>
                    {% if user.is_authenticated %}
                        {% if sheet.author == request.user %}
                            <p><a class="item-edit" href="{% url 'sheets:editItem' item.name slug %}">Edit</a></p>
                            <p><a class="item-remove" href="{% url 'sheets:removeItem' item.name slug %}">Remove</a></p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            {% if user.is_authenticated %}
                {% if sheet.author == request.user %}
                    <p style="text-align: center;"><a href="{% url 'sheets:addItem' slug %}">Add</a></p>
                {% endif %}
            {% endif %}
        </div>
        <div class="stat-section popout">
            <h1>Spells</h1>
            {% for spell in spells %}
                {% if spell.sht == sheet %}
                <div class="spell">
                    <p class="spell-name"><a href="{{ spell.reference }}">{{ spell.name }}</a></p>
                    <p class="spell-level">{{ spell.get_level_display }}</p>
                    {% if user.is_authenticated %}
                        {% if sheet.author == request.user %}
                            <p><a class="spell-remove" href="#"><s>Remove</s></a></p>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
                {% if sheet.author == request.user %}
                    <p style="text-align: center;"><a href="{% url 'sheets:addSpell' slug %}">Add</a></p>
                {% endif %}
            {% endif %}
        </div>

        <div class="stat-section popout">
            <h1>Fighting Stats</h1>
            <p><b>AC:</b> {{ sheet.armorClass }}</p>
            <p><b>Initiative:</b> {{ sheet.initiative }}</p>
            <p><b>Speed:</b> {{ sheet.speed }}</p>
            <p><b>HP:</b> {{ sheet.hitPoints }} / {{ sheet.maxHitPoints }}</p>
            <p><b>Hit Dice:</b> {{ sheet.hitDice }}</p>
            <p><b>Successful death saves:</b> {{ sheet.sDeathSave1 }} {{ sheet.sDeathSave2 }} {{ sheet.sDeathSave3 }}</p>
            <p><b>Failed death saves:</b> {{ sheet.fDeathSave1 }} {{ sheet.fDeathSave2 }} {{ sheet.fDeathSave3 }} </p>
        </div>
        <div class="stat-section popout">
            <h1>Other Stats</h1>
            <p><b>Personality Traits: </b>{{ sheet.personalityTraits }}</p>
            <p><b>Ideals: </b>{{ sheet.ideals }}</p>
            <p><b>Bonds: </b>{{ sheet.bonds }}</p>
            <p><b>Flaws: </b>{{ sheet.flaws }}</p>
            <p><b>Features & Traits: </b>{{ sheet.featuresTraits }}</p>
            <p><b>Other Proficiences: </b>{{ sheet.otherProficiencies }}</p>
            <p><b>Languages: </b>{{ sheet.languages }}</p>
        </div>
    </div>

{% endblock %}