{% extends 'base.html' %}

{% block title %}Sheet List{% endblock %}

{% block content %}
    <h1 style="font-size: 50px;"><span class="inverted-popout">Sheet List</span></h1>
    {% for group in groups %}
        <h1 class="inverted-popout">{{ group.name }}</h2>
        <div class="sheets">
            {% for sheet in sheets %}
                {% ifequal sheet.sheetGroupValue group.sheetGroupName %}
                    <div class="sheet popout">
                        <h2><a href="{% url 'sheets:detail' slug='sheet.slug' slug=sheet.slug %}">
                            {{ sheet.name }} {{ sheet.hitPoints }} / {{ sheet.maxHitPoints }}
                        </a></h2>
                        <p><i>Lvl {{ sheet.level }} <progress value="{{ sheet.xp }}" max="{% widthratio sheet.level 1 300 %}"></progress> ( {{ sheet.xp }} / {% widthratio sheet.level 1 300 %} )</i></p>
                        <p>{{ sheet.Class }}</p>
                        <p>{{ sheet.background }}</p>
                        <p>{{ sheet.race }}</p>
                    </div>
                {% endifequal %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}