#sheetNav {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    width: 50%;
}

.info, .stats, .money {
    float: left;
    width: 33%;
}

.main {
    text-align: center;
}

.skill, .item, .spell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill p, .item p, .spell p, input[type=checkbox] {
    padding-right: 12px;
}

input[type=checkbox][readonly] {
    pointer-events: none;
}


/* #main-content {
    display: grid;
    grid-template-columns: 75% 25%;
} */