#sheetNav {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    width: 50%;
}

.info, .stats, .money {
    float: left;
    width: 33%;
}

.main {
    text-align: center;
}

.skill, .item, .spell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill p, .item p, .spell p, input[type=checkbox] {
    padding-right: 12px;
}

input[type=checkbox][readonly] {
    pointer-events: none;
}

#side-editor {
    background-color: var(--element-bg);

    position: absolute;
    right: 2vw;
    height: 75vh;
    padding-left: 12px;
    padding-right: 12px;
}

#side-editor p {
    position: absolute;
    padding-right: 12px;
}

#side-editor img {
    padding-top: 12px;

    float: left;
    /* position: relative; */
    width: 20px;
    height: 20px;
    /* right: 45%; */
}

#side-editor img:hover {
    cursor: pointer;
}

#side-editor input {
    padding: 12px;
    font-size: 16px;
}

img {
    width: 15px;
    height: 15px;
}


@media screen and (max-width: 1000px) {
    .column {
        float: none;
        width: 100%;
    }
    .info, .money, .stats {
        float: none;
        width: 100%;
    }
    .money, .stats {
        margin-top: 50px;
    }
    .skills > .column {
        float: left;
        width: 50%;
    }
}