{% load static from staticfiles %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'sheets:list' %}" class="button">Sheet List</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'sheets:create' %}" class="button">Create Sheet</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}" class="button">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}" class="button">Sign Up</a></li>
            {% endif %}
            {% block nav %}
            {% endblock %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}" class="logout-button">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="popout">
        <p>Website made by <a href="https://github.com/Hedgy134117/">Graham Smith</a></p>
    </footer>
</body>
</html>