{% extends 'base.html' %}

{% block title %}{{request.user}}{% endblock %}

{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'sheets/sheetList.css' %}">{% endblock %}

{% block content %}
    <h1>Welcome back, {{request.user}}</h1>
    {% if user.is_superuser %}
    <h1>Oh, you're an <a href="{% url 'admin:index' %}">admin</a></h1>
    {% endif %}

    <div>
    {% for sheet in sheets %}
        <div class="button">
            <h2><a href="{% url 'sheets:detail' sheet.id %}">{{ sheet.name }}</a> <span>in {{ sheet.sheetGroup }}</span></h2>
        </div>
    {% endfor %}
    </div>
{% endblock %}