:root {
    --bg-color: #F5F5F5;
    --color: black;
    --primary-color: #EF7215;
    --element-bg: #d3d3d3;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --color: white;
    --element-bg: #a9a9a9;
}